/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (max-width: 1239px) {

    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding: 30px;
    }

    .headline {
        flex: 100%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .imgheadline {
        flex: 100%;
        margin: 5%;
        text-align: center;

    }

    .card {
        width: 100%;
    }

}